.servicecontainer {
  background-color: #f8f9fe;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;

  .plantype {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .deepblue p {
      font-family: FontBold;
      color: #253960;
      font-size: 17px;
    }
    span h3 {
      font-family: FontBold;
      font-size: 18px;
      color: #253960;
    }
    span p {
      font-size: 18px;
    }
  }
}
.underlined {
  text-decoration: underline;
}
hr {
  width: calc(100% - 40px);
  background-color: #c3c5d17e;
  border: none;
  height: 1px;
}
.addoncontainer {
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .deepblue p {
    font-family: FontBold;
    color: #253960;
    font-size: 17px;
  }
  .plantype {
    height: 45px;

    h3 {
      font-family: FontMed;
      font-size: 15px;
      color: #8182857c;
    }
    p {
      font-family: FontMed;
      font-size: 15px;
      color: #253960;
    }
  }
}
.total {
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .price {
    font-family: FontMed;
    font-size: 20px;
    color: #4a40d8;
  }
  h3 {
    font-family: FontReg;
    font-size: 16px;
    color: #8182857c;
  }
}
