.checkboxgrid {
  height: 150%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1;
  grid-gap: 15px;
  background-color: white;

  .addon {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: none;
    min-height: 50px;
    min-width: 200px;
    gap: 20px;

    .text {
      width: 70%;
      display: flex;
      align-items: start;

      flex-direction: column;
      h2 {
        font-family: FontBold;
        font-size: 19px;
        color: #223950;
      }
      p {
        font-family: FontMed;
        font-size: 15px;
        color: #c1c0c4;
      }
    }
  }

  .addons {
    width: 20px;
  }
}

.active {
  outline: 2px solid #625ca9;
  border-radius: 10px;
}

.money {
  color: #8d82dd;
  font-family: FontMed;
  font-size: 15px;
}
@media (width<425px) {
  .checkboxgrid {
    height: 150%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1;
    grid-gap: 15px;
    background-color: white;

    .addon {
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-width: none;
      max-height: 80px;
      min-width: 200px;
      gap: 10px;

      .text {
        width: 70%;

        h2 {
          font-family: FontBold;
          font-size: 16px;
          color: #223950;
        }
        p {
          line-height: 20px;
          font-family: FontMed;
          font-size: 13px;
          color: #c1c0c4;
        }
      }
    }
  }
}
