*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
@font-face {
  font-family: FontBold;
  src: url(../assets/fonts/Ubuntu-Bold.ttf);
}
@font-face {
  font-family: FontMed;
  src: url(../assets/fonts/Ubuntu-Medium.ttf);
}
@font-face {
  font-family: FontReg;
  src: url(../assets/fonts/Ubuntu-Regular.ttf);
}

.formbackground {
  position: relative;
  z-index: -1;
  height: 212px;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.formcontainer {
  padding: 10px;
  min-height: 67dvh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eef5ff;

  .circlescontainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 20%;
    width: 100%;
    font-size: 10px;
    position: absolute;
    top: 60px;
    left: 0%;

    .circle {
      font-family: FontMed;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      font-size: 18px;
      background-color: transparent;
      border: 1px solid white;
      color: white;
      width: 40px;
      height: 40px;
      z-index: 1;
    }
    .active {
      background-color: #bfe2fa;
      color: #001a45;
    }
  }

  form {
    margin-top: -100px;
    padding: 30px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    width: 95%;
    min-height: 300px;
    height: auto;
    flex-direction: column;

    h1 {
      font-family: FontBold;
      color: #062552;
    }
    p {
      max-width: 30ch;
      font-family: FontReg;
      color: #a7a8af;
      font-size: 1.25rem;
      line-height: 30px;
    }
    input {
      border-radius: 5px;
      border: 1px #a7a8af52 solid;
      font-family: FontMed;
      font-size: 18px;
      padding: 10px;
      width: 90%;
      max-width: 500px;
      height: 50px;
      color: #75758b;

      &::placeholder {
        color: #75758bb4;
        font-family: FontBold;
      }
    }

    label {
      margin-bottom: -10px;
      color: #405471;
      font-family: FontMed;
      letter-spacing: -1px;
    }
    .buttonscontainer {
      position: absolute;
      bottom: 0;
      right: 0;
      min-height: 90px;
      height: 10dvh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: none;
      background-color: white;

      padding: 20px;

      .none {
        z-index: -1000;
      }
      button {
        height: 50px;
        width: 120px;
        border: none;
        border-radius: 5px;
        background-color: #00275e;
        color: white;
        font-family: FontMed;
        font-size: 17px;
      }
      .prevbtn {
        background-color: transparent;
        color: #acadb2;
      }
    }
  }
}
@media (width<356px) {
  form {
    margin-top: -100px;
    padding: 30px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    width: 95%;
    min-height: 450px;
    height: auto;
    flex-direction: column;

    h1 {
      font-size: 20px;
      font-family: FontBold;
      color: #062552;
    }
    p {
      max-width: 30ch;
      font-family: FontReg;
      color: #a7a8af;
      font-size: 15px;
      line-height: 30px;
    }
  }
}
